* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

#kinlogo {
  display: inline-block;
  vertical-align: top;
  background-color: white;
  float: left;
}

#kinwelcome {
  display: inline-block;
  float: left;
  color: white;
  padding-left: 20%;
  font-size: 5mm;
  font-weight: bold;
}

#kinheader {
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 1em;
  width: 100%;
}

.glitchButton {
  float: right;
}

#kinavatar {
  position: absolute;
  top: 0;
  left: 10%;
  display: inline-block;
  background-color: white;
}

#kinnavigation {
  color: white;
  font-size: 5mm;
  font-weight: bold;
  margin-top: 5em;
  width: 15%;
  float: left;
  height: 100vh;
  
}

#kinsubnavigation {
  list-style-type: none;
}

#kincontenido {
  margin-top: 5em;
  display: inline-block;
  width: 60%;
  word-wrap: break-word;
  float: left;
}

#kinsocial {
  float: right;
}

#audio {
  width: 100%;
}

.button {  
  border: solid;
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 5mm;
  width: 80%;
}

.button:hover {
  background-color: white;
  color: coral;
}